<header>
    <h6 class="author"><a class="author" href="https://hen.ee">hen.ee</a></h6>
    <div style="margin: 0;"><a href="/index.html#{{ page.id }}">back</a> <!--&#183; <button title="Light theme" aria-label="Toggle dark mode" class="color-mode__btn light--hidden" onclick="modeSwitcher()">dark</button> <button title="Dark theme" class="color-mode__btn dark--hidden" aria-label="Toggle dark mode" onclick="modeSwitcher()">light</button> --> <p style="float: right; margin: 0;">{{ page.minute }} min</p></div>
    <hr>
</header>