---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type='text/css' href="/css/dark.css">
        <link rel='stylesheet' type='text/css' href='/css/blogstyle.css'>
        <link rel="sitemap" type="application/xml" title="sitemap" href="{{ site.baseurl }}/sitemap.xml" />
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="webmention" href="https://webmention.io/username/webmention" />
        <link rel="pingback" href="https://webmention.io/username/xmlrpc" />
        {% feed_meta %}
        {% seo %}
        
        <noscript>
            <style>
                .balance-text {
                    visibility: visible !important;
                }
            </style>
        </noscript>

    </head>
    <body>
        
        <script>
            if (localStorage.theme) document.documentElement.setAttribute("data-theme", localStorage.theme);
        </script>

        {% include blog_header.html %}
          
        <h1 class="header-text">{{ page.title }}</h1>
        <!--{% if page.tags and page.tags != empty %}
        {% assign tags = page.tags %}
        {% for tag in tags %}
            <a href="/tag/#{{tag | downcase | slugify}}">{{tag | upcase }}</a>{% unless forloop.last %} &#183;{% endunless %}
        {% endfor %}
        {% endif %} -->

        <article>

            {% include anchor_headings.html html=content anchorBody="#" %}

        </article>

        <div class="authordate"  style="balance-text">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %d, %Y" }}</time>
            <p style="font-style: italic; margin:0; display: none;">by <span itemprop="author" itemscope itemtype="https://schema.org/Person">{{ site.author }}</span></p>
        </div>

        <script src="https://utteranc.es/client.js"
                repo="tenseoverflow/hen.ee"
                issue-term="og:title"
                label="Be respectful and use common sense"
                theme="preferred-color-scheme"
                crossorigin="anonymous"
                async>
        </script>

        {% include blog_footer.html  %}

        <script src="/js/theme.js"></script>
        <script src="/js/text-balancer.js"></script>

    </body> 
</html>
